html{
  min-height: 100vh;

  background: #e73827;
  background: -moz-linear-gradient(top, #e73827 0%, #e73827 46%, #ffffff 47%, #ffffff 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #e73827), color-stop(46%, #e73827), color-stop(47%, #ffffff), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(top, #e73827 0%, #e73827 46%, #ffffff 47%, #ffffff 100%);
  background: -o-linear-gradient(top, #e73827 0%, #e73827 46%, #ffffff 47%, #ffffff 100%);
  background: -ms-linear-gradient(top, #e73827 0%, #e73827 46%, #ffffff 47%, #ffffff 100%);
  background: linear-gradient(to bottom, #e73827 0%, #e73827 46%, #ffffff 47%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e73827', endColorstr='#ffffff', GradientType=0 );
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin:0px;
  min-height: 100vh;
  background-image: url("/img/totalBG.png");
  background-repeat: no-repeat;
  background-size: 40vw;
  background-position: bottom right;
}

a {
  color: #00B7FF;
}

button {
    margin: 3px;
  font-family:"Pokemon GB";
}

#controls .btn-primary:hover {
  color: black;
  display: inline-block;
  padding: 8px 20px;
  font: normal 700 12px/1 "Pokemon GB", sans-serif;
  text-align: center;
  text-shadow: 1px 1px 0 #000;
}
#controls .btn-primary:focus,
#controls .btn-primary:active,
#controls .btn-primary {
  color: white;
  display: inline-block;
  padding: 8px 20px;
  font: normal 700 12px/1 "Pokemon GB", sans-serif;
  text-align: center;
  text-shadow: 1px 1px 0 #444;
}

.btn-primary:hover {
  color: black;
  display: inline-block;
  padding: 8px 20px;
  font: normal 700 16px/1 "Pokemon GB", sans-serif;
  text-align: center;
  text-shadow: 1px 1px 0 #000;
}
.btn-primary:focus,
.btn-primary:active,
.btn-primary {
  color: white;
  background:none!important;
  border: none;
  padding: 8px 20px;
  font: normal 700 16px/1 "Pokemon GB", sans-serif;
  text-align: center;
  text-shadow: 1px 1px 0 #444;
}

h3 {
    font: normal 700 12px/1 "Pokemon GB", sans-serif;
}

.container{
  height: 40vw;
  width: 40vw;
  margin-left: 30vw;
  overflow: hidden;
  padding-top: 10vh;
}
.state{
  min-height:40vw;
}
#canvasMain{
  width: 100%;
  background-color: rgba(135, 207, 255, 0.33);
  font-family:"Pokemon GB";
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -o-crisp-edges;
  image-rendering: optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
  letter-spacing: -1px;
}
/*Game font*/
/* @font-face kit by Fonts2u (http://www.fonts2u.com) */
@font-face {
  font-family:"Pokemon GB";
  src:url("/font/Pokemon_GB.eot?") format("eot"),
    url("/font/Pokemon_GB.woff") format("woff"),
    url("/font/Pokemon_GB.ttf") format("truetype"),
    url("/font/Pokemon_GB.svg#PokemonGB") format("svg");
  font-weight:normal;
  font-style:normal;
}

.state#game{
  padding-top: 0;
}

.state{
  background-image:url("/img/mainBg.png");
  background-size: contain;
  background-position: top center;
  text-align: center;
  padding-top: 10vh;
  position: relative;
}

.btn-container{
  width: 20vw;
  margin-left: 10vw;
  background: rgba(0,0,0,.3);
  color:white;
  font: normal 700 20px/1 "Pokemon GB", sans-serif;
}
h1{
  color:white;
  font: normal 700 38px/1 "Pokemon GB", sans-serif;
}

#scores .btn-container{
  padding: 15px;
}

#credits .btn-container{
  padding:15px;
  margin-left: 5vw;
  width: 30vw;
}

.escape{
  position: absolute;
  top: 10px;
  left:10px;
  color: white;
  font: normal 700 12px/1 "Pokemon GB", sans-serif;
  background: rgba(0,0,0,.4);
  padding: 4px;
}

#controls{
  background-image:url("/img/btnMaping.png");
  background-size: contain;
  background-position: top center;
  padding: 0;
  text-align: left;
  position: relative;
}
#controls button{
  display: block;
  float: left;
}
#controls h3{
  display:block;
  float: left;
}
#btnUp{
  position: absolute;
  top: 4.5vw;
  left:13vw;
}
#btnDown{
  position: absolute;
  top: 29vw;
  left:14vw;
}
#btnLeft{
  position: absolute;
  top: 33vw;
  left:8vw;
}
#btnRight{
  position: absolute;
  top: 8vw;
  left:16vw;
}
#btnA{
  position: absolute;
  top: 13vw;
  left:19vw;
}
#btnB{
  position: absolute;
  top: 16vw;
  left:16vw;
}
.btn-icon {
  color: #ffffff;
  height: 2vw;
  font-size: 1vw;
  background: #f00;
  background: -webkit-linear-gradient(#f00, #f00 50%, #fff 50%, #fff);
  background: linear-gradient(#f00, #f00 50%, #fff 50%, #fff);
  border: 3px solid #000;
  border-radius: 5px;
  display: inline-block;
  padding: 4px 10px;
  font-family:"Pokemon GB", sans-serif;
  text-align: center;
  text-shadow: 1px 1px 0 #444;
  position: relative;
}

.btn-icon:hover {
  color: #ffffff;
  height: 2vw;
  font-size: 1vw;
  background: #f00;
  background: -webkit-linear-gradient(#f00, #f00 50%, #fff 50%, #fff);
  background: linear-gradient(#f00, #f00 50%, #fff 50%, #fff);
  border: 3px solid #000;
  border-radius: 5px;
  color: #000;
  display: inline-block;
  padding: 4px 10px;
  font-family:"Pokemon GB", sans-serif;
  text-align: center;
  text-shadow: 1px 1px 0 #444;
  position: relative;
}